.ingredient {
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;

  .title {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .list li {
    margin-bottom: 1rem;
  }
}
