.category {
  overflow: hidden;
  margin: 0 -1rem;

  .wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 1rem;
  }

  .wrapper::-webkit-scrollbar {
    display: none;
  }

  .list {
    padding-right: 1rem;
  }

  .img {
    width: 10rem;
    height: 6rem;
    background-size: contain;
    border-radius: 6px;
    overflow: hidden;
  }

  .title {
    font-size: 1.3rem;
  }
}
