.category {
  overflow: hidden;
  .wrapper {
    display: flex;
  }

  .list {
    padding-right: 1rem;
  }

  .img {
    border-radius: 6px;
    width: 10rem;
    height: 6rem;
    background-color: var(--color-dark-gray);

    @media only screen and (min-width: 768px) {
      width: 12rem;
      height: 8rem;
    }
  }

  .title {
    height: 1.5rem;
    background-color: var(--color-dark-gray);
  }
}
