.container {
  padding: 1rem;
  @media only screen and (min-width: 1200px) {
    padding: 1rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.box {
  height: 5rem;
  background-color: var(--color-dark-gray);
  border-radius: 6px;
  margin-bottom: 1rem;
}
