.headerNav {
  display: none;
  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding: 0 1rem;
  }

  a {
    font-size: 1.2rem;
  }

  @media only screen and (min-width: 1200px) {
    display: block;
  }
}
