.mobileMenu {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 98;
  background-color: #fff;
  border-top: 1px solid var(--color-dark-gray);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.06);
  transition: ease 0.3s;
  transform: translateY(-100%);

  @media only screen and (min-width: 1200px) {
    display: none;
  }

  &.isOpen {
    transform: translateY(0);
  }

  nav li {
    text-align: center;
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-dark-gray);
    }
  }

  .link {
    padding: 1.5rem;
    font-size: 1.1rem;
    display: block;
  }
}
