.btn {
  padding: 0.6rem 1rem;
  display: inline-block;
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
}
