.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.wrapper {
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.img {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  background-color: var(--color-dark-gray);
}

.info {
  padding: 1rem;
}

.line {
  height: 1.2rem;
  background-color: var(--color-dark-gray);
  margin-bottom: 0.5rem;
}
